.DS_Store
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
cerebrum/static/admin/js/libs/froala/examples
cerebrum/static/admin/js/libs/froala/js/froala_editor_ie8.js
cerebrum/static/admin/js/libs/froala/js/froala_editor.js
cerebrum/static/admin/js/libs/froala/js/plugins/block_styles.js
cerebrum/static/admin/js/libs/froala/js/plugins/char_counter.js
cerebrum/static/admin/js/libs/froala/js/plugins/colors.js
cerebrum/static/admin/js/libs/froala/js/plugins/file_upload.js
cerebrum/static/admin/js/libs/froala/js/plugins/font_family.js
cerebrum/static/admin/js/libs/froala/js/plugins/font_size.js
cerebrum/static/admin/js/libs/froala/js/plugins/lists.js
cerebrum/static/admin/js/libs/froala/js/plugins/media_manager.js
cerebrum/static/admin/js/libs/froala/js/plugins/tables.js
cerebrum/static/admin/js/libs/froala/js/plugins/video.js