@font-face {
    font-family: 'a-reg';
    src: url('/static/admin/fonts/ar-webfont.eot'); /* IE9 Compat Modes */
    src: url('/static/admin/fonts/ar-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/admin/fonts/ar-webfont.woff') format('woff'), /* Modern Browsers */
         url('/static/admin/fonts/ar-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/static/admin/fonts/ar-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'a-reg';
    src: url('/static/admin/fonts/ab-webfont.eot'); /* IE9 Compat Modes */
    src: url('/static/admin/fonts/ab-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/admin/fonts/ab-webfont.woff') format('woff'), /* Modern Browsers */
         url('/static/admin/fonts/ab-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/static/admin/fonts/ab-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: bold;
}
@font-face {
    font-family: 'a-mono';
    src: url('/static/admin/fonts/am-webfont.eot'); /* IE9 Compat Modes */
    src: url('/static/admin/fonts/am-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/admin/fonts/am-webfont.woff') format('woff'), /* Modern Browsers */
         url('/static/admin/fonts/am-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/static/admin/fonts/am-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html {
  background-color: #F7F7F7;
}

.stats dl {
  border-top: 1px solid #ddd;
  margin-top: 0;
}
.stats dt {
  font-size: 40px;
  padding-bottom: 10px;
  padding-top: 20px;
}
.stats dd {
  margin-left: 0;
  text-transform: uppercase;
  font-size: 10px;
}
.statbox {
  border-left: 1px solid #333;
}
.statbox dl {
  padding-left: 8px;
}
.statbox dl dd {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
}
.statbox dl dt {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  box-sizing: border-box;
}
.spaced {
  margin-top: 20px;
}
.help-inline {
  padding: 3px 7px;
  background-color: #EEE;
}
.help-block {
  padding: 3px 7px;
  background-color: #EEE;
}
.well {
  background-color: #f3eded;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: 0;
}
form label,
label {
  font-size: 13px;
}
form textarea,
form input[type="text"],
form input[type="password"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="date"],
form input[type="month"],
form input[type="time"],
form input[type="week"],
form input[type="number"],
form input[type="email"],
form input[type="url"],
form input[type="search"],
form input[type="tel"],
form input[type="color"],
.uneditable-input {
  font-family: "a-reg";
  /*padding: 20px 10px;*/
}
.form-sidebar textarea,
form input[type="text"],
form input[type="password"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="date"],
form input[type="month"],
form input[type="time"],
form input[type="week"],
form input[type="number"],
form input[type="email"],
form input[type="url"],
form input[type="search"],
form input[type="tel"],
form input[type="color"],
.uneditable-input {
  width: 100%;
}
form textarea {
  font-family: "a-reg";
}
.sidebar-nav {
  padding: 5px;
}
#btnGetKeywords {
  margin-bottom: 15px;
}
#showdown {
  overflow: hidden;
  border: 1px solid #DDD;
  padding: 15px;
  margin: 15px 0;
  margin-top: 50px;
  font-family: "a-reg";
}
#showdown .i-imgin.small.left {
  width: 200px;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
}
#showdown .i-imgin.small.right {
  width: 200px;
  float: right;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
#showdown .i-imgin.medium.left {
  width: 310px;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
}
#showdown .i-imgin.medium.right {
  width: 310px;
  float: right;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
#showdown .i-imgin.large.right,
#showdown .i-imgin.large.left {
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
  width: 100%;
}
#showdown .i-imgin-inside {
  float: left;
}
#showdown .i-imgin.small.left:first-child,
#showdown .i-imgin.small.right:first-child,
#showdown .i-imgin.medium.left:first-child,
#showdown .i-imgin.medium.right:first-child,
#showdown .i-imgin.large.left:first-child,
#showdown .i-imgin.medium.right:first-child {
  margin-top: 0;
}
#showdown .i-imgin .i-caption {
  font-weight: 400;
  font-size: 12px;
  color: #ccc;
  margin: 0;
  padding-top: 3px;
}
#showdown .i-imgin .i-credits {
  font-size: 11px;
  color: #ccc;
  margin: 0;
  padding-bottom: 15px;
  line-height: 11px;
  border-bottom: 1px solid #eee;
  font-style: italic;
}
.post h1,
.campaign h1 {
  margin-top: 25px;
  margin-bottom: 17px;
  margin-left: 35px;
  min-height: 36px;
}
.post a {
  font-weight: bold;
}
.post h2 {
  margin: 20px 0 5px 0;
}
.post-header i {
  font-size: 30px;
  color: #3f3;
  position: absolute;
  margin-top: 10px;
  margin-left: 0px;
}
.post p.body,
.campaign p.body {
  color: #333;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
}
.post-info,
.campaign-info {
  color: #999;
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 14px;
}
.post-info i,
.campaign-info i {
  padding-right: 4px;
}
.post-lead p {
  font-weight: 400;
  font-size: 19px;
  line-height: 35px;
  margin-bottom: 12px;
  color: #000;
}
p.lead {
  font-weight: 400;
  font-size: 19px;
  line-height: 35px;
  margin-bottom: 12px;
  color: #000;
}
.post-body {
  overflow: hidden;
}
.post-body p,
.campaign-body p {
  font-family: "a-reg";
  font-weight: 300;
  font-size: 15px;
  line-height: 29px;
  color: #000;
}
.post-body li {
  line-height: 29px;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 10px;
  color: #000;
}
#fileuploaderbtn {
  margin-top: 25px;
}
.fileitem canvas {
  float: left;
  margin-right: 20px;
}
.fileitem {
  padding-top: 10px;
  padding-bottom: 40px;
  height: 50px;
  border-bottom: 1px dotted #efefef;
}
.fileitem-row:first-child {
  border-top: 1px dotted #EFEFEF;
}
.fileitem-row {
  height: 40px;
}
.fileitem .filename {
  float: left;
  width: 350px;
  font-family: "a-reg";
  font-weight: 600;
  font-size: 14px;
  color: #333;
  line-height: 27px;
}
.fileitem .filesize {
  float: left;
  line-height: 27px;
  font-family: "a-reg";
  font-size: 12px;
  width: 130px;
}
.fileitem .filestatus {
  float: left;
  line-height: 27px;
  font-family: "a-reg";
  font-size: 12px;
}
#login input[type="text"],
#login input[type="password"] {
  height: 25px;
  padding-left: 10px;
}
#login input[type="text"] {
  font-size: 17px;
}
#login .add-on {
  height: 25px;
  line-height: 25px;
  width: 25px;
}
i.success {
  color: #7f7;
  padding-right: 10px;
}
i.fail {
  color: #f77;
  padding-right: 10px;
}
form a#pick-image {
  margin-top: 15px;
  margin-bottom: 15px;
}
.spinner {
  background: url('../img/loading.gif') center center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.postimage {
  margin-top: 15px;
  border: 1px solid #b4b4b4;
  box-sizing: border-box;
}
.img-loading {
  background-color: #fff;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/*
table i,
li i {
  color: #333;
}
*/
#uploaded-images {
  margin-top: 20px;
}
#uploaded-images div {
  float: left;
  padding: 5px;
  margin: 10px;
  border: 1px solid #eee;
}
#uploaded-images img.success {
  opacity: 0.5;
}
.content {
  margin-top: 0px;
}
.content input[type=text] {
  box-sizing: border-box;
  padding: 16px 10px;
}
.content textarea {
  box-sizing: border-box;
  padding: 16px 10px;
}
.sidebar-nav {
  padding: 9px 0;
}
.sidebar-nav li a > i {
  padding-right: 3px;
}
.row-fluid > .sidebar-nav {
  position: relative;
  top: 0;
  left: auto;
  width: 220px;
}
.sidebar-nav.right {
  box-sizing: border-box;
}
.left {
  float: left;
}
.right {
  float: right;
}
.fixed-fluid {
  margin-left: 240px;
}
.fluid-fixed {
  margin-right: 240px;
  margin-left: auto !important;
}
.fixed-fixed {
  margin: 0 240px;
}
.image-row {
  height: 287px;
}
#acewrapper {
  padding-top: 5px;
}
#acecontainer {
  height: 400px;
  position: relative;
}
#login {
  box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
  border: 1px solid #E5E5E5;
  padding: 26px 24px 46px;
}
.ace_marker-layer .mark {
  position: absolute;
  z-index: 5;
  background-color: #900;
}
#ace {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal.large {
  width: 780px;
  margin-left: -390px;
  /* - width/2 */

  max-height: 700px;
  z-index: 10000;
  top: 35%;
}
.modal-body {
  max-height: 535px;
}
h1 {
  margin-top: 10px;
  margin-bottom: 25px;
}
.postimage li {
  font-size: 11px;
  font-family: "Lucida Grande";
  font-weight: bold;
}
.postimage i {
  font-size: 15px;
}

.status-kladd i {
  color: #727272;
}
.status-venter i {
  color: #FFC333;
}
.status-publisert i {
  color: #65BD77;
}
.status-slettet i {
  color: #FB6B5B;
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-top: 55px;
}
body {
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}
.fw {
  width: 100%;
}
.hw {
  width: 50%;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: #ff0000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "a-reg";
  font-weight: 700;
}
body,
input,
button,
select,
textarea {
  font-family: "a-reg";
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 980px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 979px) {

}
@media (max-width: 767px) {

}
@media (max-width: 480px) {

}
.selected {
  border: 2px solid #FFB800;
}

.whitetext {
  color: #fff;
}

.center-text {
  text-align: center;
}

.btn {
  font-weight: 700;
}

.control-group {
  margin: 20px 0;
}

.footer > p {
  font-size: 12px;
}

.footer {
  margin-top: 20px;
}

.asteriskField {
  color: #FF7979;
}

/*
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: baseline;
}
*/

.bluegray {
  color: #DAE2E6;
}

.font-shadow {
  text-shadow: 1px 1px 1px #201919;
}

.breadcrumb {
  padding-top: 15px;
  margin-bottom: 0;
}

#maincontent {
  padding-bottom: 75px;
}

h3.section {
  margin-top: 0;
}

.bg-userinfo {
  background-color: #6293B4;
  color: #E2F3E5;
}
.bg-userinfo a {
  color: #fff;
}

.bg-userinfo .text-muted {
  color: #d0ebd6 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.avatar {
  border: 0;
}

.navbar-brand img {
  max-height: 80px;
}

.text-mono {
  font-family: "a-mono", "Monaco", "Courier New" !important;
}

.panel .table-striped > tbody > tr:nth-child(even) > td,
.panel .table-striped > tbody > tr:nth-child(even) > th {
   background-color: #F9F9F9;
 }
.panel .table-striped > tbody > tr:nth-child(odd) > td,
.panel .table-striped > tbody > tr:nth-child(odd) > th {
   background-color: #FFFFFF;
}

.hover-rotate {
  -webkit-transition: all .2s ease-in-out .1s;
  transition: all .2s ease-in-out .1s;
}

.panel .table td {
  vertical-align: middle;
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinAround {
  from {
    -moz-transform: rotate(0deg)
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}


.ddbutton {
  display: inline-block;
  font-size: 16px;
  padding: 7px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  box-shadow: 0 0 0 3px #EEE;
  background-color: #fff;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.ddbutton i {
  color: #A3A3A3;
}
.ddbutton:hover i {
  color: #ffffff;
}

.ddbutton:hover {
  background: #333;
  box-shadow: none;
}


.ddbutton i:hover:before {
  -webkit-animation: spinAround 0.3s ease 1;
  -moz-animation: spinAround 0.3s ease 1;
  animation: spinAround 0.3s ease 1;
  -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "a-reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
.froala-modal .f-modal-wrapper div.f-image-list {
list-style-type: none !important;
margin: 10px !important;
padding: 0 !important;
width: 600px !important;
text-align: left !important;
vertical-align: top !important;
column-count: 1 !important;
-moz-column-count: 1 !important;
-webkit-column-count: 1 !important;
column-gap: 0 !important;
-moz-column-gap: 0 !important;
-webkit-column-gap: 0 !important;
}

.froala-modal .f-modal-wrapper div.f-image-list div {
position: relative !important;

width: 148px !important;
display: inline-block !important;
margin-bottom: 10px !important;
padding: 4px !important;
border: 1px solid #EEE !important;
margin: 10px !important;
}
*/

.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 23px;
  height: 100%;
  width: 100%;
  direction: ltr;
  cursor: pointer;
}
.fileinput {
  margin-bottom: 9px;
  display: inline-block;
}
.fileinput .form-control {
  padding-top: 7px;
  padding-bottom: 5px;
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}
.fileinput .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.fileinput .thumbnail > img {
  max-height: 100%;
}
.fileinput .btn {
  vertical-align: middle;
}
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}
.fileinput-inline .fileinput-controls {
  display: inline;
}
.fileinput-filename {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}
.form-control .fileinput-filename {
  vertical-align: bottom;
}
.fileinput.input-group {
  display: table;
}
.fileinput.input-group > * {
  position: relative;
  z-index: 2;
}
.fileinput.input-group > .btn-file {
  z-index: 1;
}
.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 4px 4px 0;
}
.fileinput-new.input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new.input-group .btn-file.btn-sm,
.fileinput-new .input-group .btn-file.btn-sm {
  border-radius: 0 3px 3px 0;
}
.fileinput-new.input-group .btn-file.btn-lg,
.fileinput-new .input-group .btn-file.btn-lg {
  border-radius: 0 6px 6px 0;
}
.form-group.has-warning .fileinput .fileinput-preview {
  color: #8a6d3b;
}
.form-group.has-warning .fileinput .thumbnail {
  border-color: #faebcc;
}
.form-group.has-error .fileinput .fileinput-preview {
  color: #a94442;
}
.form-group.has-error .fileinput .thumbnail {
  border-color: #ebccd1;
}
.form-group.has-success .fileinput .fileinput-preview {
  color: #3c763d;
}
.form-group.has-success .fileinput .thumbnail {
  border-color: #d6e9c6;
}
.input-group-addon:not(:first-child) {
  border-left: 0;
}

.selectpicker .selected {
  border: 0;
  background-color: #DEE;
}

.radio, .checkbox {
  margin-left: 30px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -30px;
}

.checkbox {
  margin-left: 10px;
}