@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
}

.stats dl {
  border-top: 1px solid #ddd;
  margin-top: 0;
}
.stats dt {
  font-size: 40px;
  padding-bottom: 10px;
  padding-top: 20px;
}
.stats dd {
  margin-left: 0;
  text-transform: uppercase;
  font-size: 10px;
}
.statbox {
  border-left: 1px solid #333;
}
.statbox dl {
  padding-left: 8px;
}
.statbox dl dd {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
}
.statbox dl dt {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  box-sizing: border-box;
}
.spaced {
  margin-top: 20px;
}
.help-inline {
  padding: 3px 7px;
  background-color: #EEE;
}
.help-block {
  padding: 3px 7px;
  background-color: #EEE;
}
.well {
  background-color: #f3eded;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: 0;
}
form label,
label {
  font-family: Helvetica Neue, Helvetica;
  font-weight: bold;
  font-size: 12px;
}
form textarea,
form input[type="text"],
form input[type="password"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="date"],
form input[type="month"],
form input[type="time"],
form input[type="week"],
form input[type="number"],
form input[type="email"],
form input[type="url"],
form input[type="search"],
form input[type="tel"],
form input[type="color"],
.uneditable-input {
  font-family: Source Sans Pro;
  background-color: #eaf8f3;
  padding: 20px 10px;
  border: 0;
  border-radius: 0;
  box-shadow: 0;
}
.form-sidebar textarea,
form input[type="text"],
form input[type="password"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="date"],
form input[type="month"],
form input[type="time"],
form input[type="week"],
form input[type="number"],
form input[type="email"],
form input[type="url"],
form input[type="search"],
form input[type="tel"],
form input[type="color"],
.uneditable-input {
  width: 100%;
}
form textarea {
  font-family: Source Sans Pro;
}
.sidebar-nav {
  padding: 5px;
}
#btnGetKeywords {
  margin-bottom: 15px;
}
#showdown {
  overflow: hidden;
  border: 1px solid #DDD;
  padding: 15px;
  margin: 15px 0;
  margin-top: 50px;
  font-family: "Open Sans";
}
#showdown .i-imgin.small.left {
  width: 200px;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
}
#showdown .i-imgin.small.right {
  width: 200px;
  float: right;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
#showdown .i-imgin.medium.left {
  width: 310px;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
}
#showdown .i-imgin.medium.right {
  width: 310px;
  float: right;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
#showdown .i-imgin.large.right,
#showdown .i-imgin.large.left {
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
  width: 100%;
}
#showdown .i-imgin-inside {
  float: left;
}
#showdown .i-imgin.small.left:first-child,
#showdown .i-imgin.small.right:first-child,
#showdown .i-imgin.medium.left:first-child,
#showdown .i-imgin.medium.right:first-child,
#showdown .i-imgin.large.left:first-child,
#showdown .i-imgin.medium.right:first-child {
  margin-top: 0;
}
#showdown .i-imgin .i-caption {
  font-weight: 400;
  font-size: 12px;
  color: #ccc;
  margin: 0;
  padding-top: 3px;
}
#showdown .i-imgin .i-credits {
  font-size: 11px;
  color: #ccc;
  margin: 0;
  padding-bottom: 15px;
  line-height: 11px;
  border-bottom: 1px solid #eee;
  font-style: italic;
}
.post h1,
.campaign h1 {
  margin-top: 25px;
  margin-bottom: 17px;
  margin-left: 35px;
  min-height: 36px;
}
.post a {
  font-weight: bold;
}
.post h2 {
  margin: 20px 0 5px 0;
}
.post-header i {
  font-size: 30px;
  color: #3f3;
  position: absolute;
  margin-top: 10px;
  margin-left: 0px;
}
.post p.body,
.campaign p.body {
  color: #333;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
}
.post-info,
.campaign-info {
  color: #999;
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 14px;
}
.post-info i,
.campaign-info i {
  padding-right: 4px;
}
.post-lead p {
  font-weight: 400;
  font-size: 19px;
  line-height: 35px;
  margin-bottom: 12px;
  color: #000;
}
p.lead {
  font-weight: 400;
  font-size: 19px;
  line-height: 35px;
  margin-bottom: 12px;
  color: #000;
}
.post-body {
  overflow: hidden;
}
.post-body p,
.campaign-body p {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  line-height: 29px;
  color: #000;
}
.post-body li {
  line-height: 29px;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 10px;
  color: #000;
}
#fileuploaderbtn {
  margin-top: 25px;
}
.fileitem canvas {
  float: left;
  margin-right: 20px;
}
.fileitem {
  padding-top: 10px;
  padding-bottom: 40px;
  height: 50px;
  border-bottom: 1px dotted #efefef;
}
.fileitem-row:first-child {
  border-top: 1px dotted #EFEFEF;
}
.fileitem-row {
  height: 40px;
}
.fileitem .filename {
  float: left;
  width: 350px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  color: #333;
  line-height: 27px;
}
.fileitem .filesize {
  float: left;
  line-height: 27px;
  font-family: Open Sans;
  font-size: 12px;
  width: 130px;
}
.fileitem .filestatus {
  float: left;
  line-height: 27px;
  font-family: Open Sans;
  font-size: 12px;
}
#login input[type="text"],
#login input[type="password"] {
  height: 25px;
  padding-left: 10px;
}
#login input[type="text"] {
  font-size: 17px;
}
#login .add-on {
  height: 25px;
  line-height: 25px;
  width: 25px;
}
i.success {
  color: #7f7;
  padding-right: 10px;
}
i.fail {
  color: #f77;
  padding-right: 10px;
}
form a#pick-image {
  margin-top: 15px;
  margin-bottom: 15px;
}
.spinner {
  background: url('../img/loading.gif') center center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.postimage {
  margin-top: 15px;
  border: 1px solid #b4b4b4;
  box-sizing: border-box;
}
.img-loading {
  background-color: #fff;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
table i,
li i {
  color: #333;
}
#uploaded-images {
  margin-top: 20px;
}
#uploaded-images div {
  float: left;
  padding: 5px;
  margin: 10px;
  border: 1px solid #eee;
}
#uploaded-images img.success {
  opacity: 0.5;
}
input#id_header {
  box-sizing: border-box;
  padding: 18px 8px 18px 8px;
  font-size: 21px;
  line-height: 21px;
}
.content {
  margin-top: 0px;
}
.content input[type=text] {
  box-sizing: border-box;
  padding: 16px 10px;
}
.content textarea {
  box-sizing: border-box;
  padding: 16px 10px;
}
.sidebar-nav {
  padding: 9px 0;
}
.sidebar-nav li a > i {
  padding-right: 3px;
}
.row-fluid > .sidebar-nav {
  position: relative;
  top: 0;
  left: auto;
  width: 220px;
}
.sidebar-nav.right {
  box-sizing: border-box;
}
.left {
  float: left;
}
.right {
  float: right;
}
.fixed-fluid {
  margin-left: 240px;
}
.fluid-fixed {
  margin-right: 240px;
  margin-left: auto !important;
}
.fixed-fixed {
  margin: 0 240px;
}
.image-row {
  height: 287px;
}
#acewrapper {
  padding-top: 5px;
}
#acecontainer {
  height: 400px;
  position: relative;
}
#login {
  box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
  border: 1px solid #E5E5E5;
  padding: 26px 24px 46px;
}
.ace_marker-layer .mark {
  position: absolute;
  z-index: 5;
  background-color: #900;
}
#ace {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal.large {
  width: 780px;
  margin-left: -390px;
  /* - width/2 */

  max-height: 700px;
  z-index: 10000;
  top: 35%;
}
.modal-body {
  max-height: 535px;
}
h1 {
  margin-top: 10px;
  margin-bottom: 25px;
}
.postimage li {
  font-size: 11px;
  font-family: "Lucida Grande";
  font-weight: bold;
}
.postimage i {
  font-size: 15px;
}
td.action-icons i {
  color: #555;
}
td.status-kladd i {
  color: #333;
}
td.status-venter i {
  color: #dd9;
}
td.status-publisert i {
  color: #7f7;
}
td.status-slettet i {
  color: #f77;
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-top: 55px;
}
body {
  padding-top: 40px;
  background: #E8F0EE url('/static/img/admin-bg.png') bottom right no-repeat;
  background-attachment: fixed;
}
.fw {
  width: 100%;
}
.hw {
  width: 50%;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: #ff0000;
}
a {
  color: #eb0000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  font-weight: 200;
}
body,
input,
button,
select,
textarea {
  font-family: "Source Sans Pro";
}
@media (min-width: 980px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 979px) {

}
@media (max-width: 767px) {

}
@media (max-width: 480px) {

}
.selected {
  border: 2px solid #FFB800;
}
