{% load i18n %}
{% load active %}
{% load static from staticfiles %}
{% load url from future %}
{% load admin_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en" class="app">
  <head>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // + {{ admin.site_url }} {{ admin.site_version }} - (c) {{ admin.site_name }} 2006 - 2014 - all rights reserved.
  //   design and implementation by twined - http://www.twined.net // admin
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <meta charset="utf-8">
    <title>{{ admin.site_name }} Admin // {% block title %}Velkommen!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ admin.site_name }}">
    <meta name="author" content="twined v2.0">

    <!-- stylesheets -->
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'admin/css/animate.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'admin/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'admin/css/font.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'admin/css/admin.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'admin/css/twined.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'admin/css/jasny-bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'admin/css/jquery-ui.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'admin/css/autocomplete.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap-select.css' %}" type="text/css">

    {% block extra_head %}{% endblock %}
    {% block css_extra %}{% endblock css_extra %}


    <!-- javascript calls -->
    <script type="text/javascript" src="{% static 'admin/js/libs/jquery/jquery.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'admin/js/libs/bootstrap/bootstrap.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'admin/js/libs/slimscroll/jquery.slimscroll.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'admin/js/jasny-bootstrap.js' %}" charset="utf-8"></script>

    <script type="text/javascript" src="{% static 'admin/js/libs/jquery/jquery.slugit.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'admin/js/libs/jquery/jquery.debounce-1.0.5.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'admin/js/libs/jquery/jquery.autocomplete.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'admin/js/libs/backbone/underscore.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'admin/js/libs/backbone/backbone.js' %}" charset="utf-8"></script>

    <script type="text/javascript" src="{% static 'admin/js/twined-backbone.js' %}" charset="utf-8"></script>

    {{ form.media }}
    <!-- extra javascript calls -->
    {% block extra_js %}{% endblock extra_js %}

    <!-- fav & touch icons -->
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
</head>

<body>

  <section class="hbox stretch">

    {% include "admin/aside_menu.html" %}

    <!-- content -->
    <section id="content" style="border-top: 4px solid #DA6030;">
      <section class="vbox">
        <section>
          <section class="hbox stretch">
            <section>
              <section class="vbox">
                <section id="maincontent" class="scrollable wrapper">
                  {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-block{% if message.tags %} alert-{{ message.tags }}"{% endif %}>
                      <a class="close" data-dismiss="alert" href="#">×</a>
                      {{ message|safe }}
                    </div>
                    {% endfor %}
                  {% endif %}
                  {% block content %}
                  {% endblock content %}
                </section>
                <footer class="footer bg-white b-t b-light">
                  <p>
                    &copy; twined/univers 2009-{% now "Y" %}. All rights reserved.
                  </p>
                </footer>
              </section>
            </section>
          </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
      </section>
    </section>
    <!-- /content -->
  </section>
  <!-- language: {{ LANGUAGE_CODE}} -->
</body>
</html>